
<div class="row">
    <div class="text-center col-md-6 col-md-offset-3">
        <a href="http://www.recovery.org/topics/alcoholics-anonymous-12-step/"><button type="button" class="btn">About the 12 steps</button></a>

        <a href="http://www.aasf.org/forms/ForBeginners.pdf"><button type="button" class="btn">A pamphlet for beginners</button></a>

        <a href="http://www.aa.org/assets/en_US/smf-121_en.pdf"><button type="button" class="btn">12 steps</button></a>

        <a href="http://www.aa.org/assets/en_US/smf-122_en.pdf"><button type="button" class="btn">12 traditions</button></a>

        <a href="http://www.aa.org/pages/en_US/aa-literature"><button type="button" class="btn">all literature</button></a>

        <a href="http://www.aa.org/assets/en_US/p-1_thisisaa1.pdf"><button type="button" class="btn">intro to aa</button></a>

        <a href="http://www.aa.org/assets/en_US/p-2_44questions.pdf"><button type="button" class="btn">FAQ pamphlet</button></a>

        <a href="http://www.aa.org/assets/en_US/p-24_anewcomerask.pdf"><button type="button" class="btn">questions from beiginners</button></a>

        <a href="http://www.aa.org/assets/en_US/f-2_InfoonAA.pdf"><button type="button" class="btn">AA info</button></a>

        <a href="http://www.aa.org/assets/en_US/P-35_ProOtherThanAlcohol.pdf"><button type="button" class="btn">Problems other than alcohol pamphlet</button></a>

        <a href="http://www.aa.org/pages/en_US/alcoholics-anonymous"><button type="button" class="btn">Big Book</button></a>

        <a href="http://www.aa.org/pages/en_US/twelve-steps-and-twelve-traditions"><button type="button" class="btn">12 Steps and 12 Traditions</button></a>

    </div>
</div>



<footer ng-include="'/templates/footer_main.html'"></footer>