<div class="container document">

    <div class="row col-md-12">
        <a class="download btn-link well well-lg col-md-3 col-md-offset-1" href="http://www.recovery.org/topics/alcoholics-anonymous-12-step/">Basics of Alcoholics Anonymous</a>

        <a class="download btn-link well well-lg col-md-3 col-md-offset-1" href="http://www.aasf.org/forms/ForBeginners.pdf">Alcoholics Anonymous for Beginners</a>

        <a class="download btn-link well well-lg col-md-3 col-md-offset-1" href="http://www.aa.org/assets/en_US/smf-121_en.pdf">The 12 Steps of A.A.</a>
    </div>

    <div class="row col-md-12">
        <a class="download btn-link well well-lg col-md-3 col-md-offset-1" href="http://www.aa.org/assets/en_US/smf-122_en.pdf">The 12 Traditions of A.A.</a>

        <a class="download btn-link well well-lg col-md-3 col-md-offset-1" href="http://www.aa.org/pages/en_US/aa-literature">All Literature Published by A.A.</a>

        <a class="download btn-link well well-lg col-md-3 col-md-offset-1" href="http://www.aa.org/assets/en_US/p-1_thisisaa1.pdf">This is A.A.: An Introductions of the A.A. Recovery Program</a>
    </div>

    <div class="row col-md-12">
        <a class="download btn-link well well-lg col-md-3 col-md-offset-1" href="http://www.aa.org/assets/en_US/p-2_44questions.pdf">Frequently Asked Questions about A.A.</a>

        <a class="download btn-link well well-lg col-md-3 col-md-offset-1" href="http://www.aa.org/assets/en_US/p-24_anewcomerask.pdf">A Newcomer Asks...:Questions from Beginners</a>

        <a class="download btn-link well well-lg col-md-3 col-md-offset-1" href="http://www.aa.org/assets/en_US/f-2_InfoonAA.pdf">Basic A.A. Information for Anyone New to A.A.</a>
    </div>

    <div class="row col-md-12">
        <a class="download btn-link well well-lg col-md-3 col-md-offset-1" href="http://www.aa.org/assets/en_US/P-35_ProOtherThanAlcohol.pdf">Problems Other than Alcohol</a>

        <a class="download btn-link well well-lg col-md-3 col-md-offset-1" href="http://www.aa.org/pages/en_US/alcoholics-anonymous">Big Book, 4th Edition. The Basic Text for A.A.</a>

        <a class="download btn-link well well-lg col-md-3 col-md-offset-1" href="http://www.aa.org/pages/en_US/twelve-steps-and-twelve-traditions">The 12 Steps and The 12 Traditions of A.A., Extended Versions</a>
    </div>

</div>



<!--<footer ng-include="'/templates/footer_main.html'"></footer>-->