<div class="row">
    <!--<div class="col-md-6 col-md-offset-3">-->
        <form class="col-md-12 text-center form-inline">
            <select class="col-md-4 form-control" ng-model="meetingDay" ng-options="day as day.label for day in meetingDays track by day.value" ng-change="selectedData()"><option value="">Meeting Day</option></select>
            <select class="col-md-4 form-control" ng-model="meetingLocation" ng-options="location as location.name for location in searchResults track by location.name" ng-change="selectLocation()"><option value="">Meeting Location</option></select>
            <select class="col-md-4 form-control" ng-model="meetingTime" ng-options="meeting as meeting.time for meeting in meetingTimes" ng-change="selectTime()"><option value="">Meeting Time</option></select>
            <!--<button ng-click="selectedData()">Submit</button>-->
        </form>
    <!--</div>-->
</div>

<!--<div class="row">-->
    <!--<div class="text-center" ng-repeat="meeting in searchResults">-->
        <!--<p><h3>{{meeting.name}}</h3><br/>-->
               <!--{{meeting.address}}<br/>-->
               <!--{{meeting.city_state}}<br/></p>-->
        <!--<div class="meeting" ng-repeat="info in meeting.meetings">-->
            <!--<p>{{info.time}}<br/>-->
               <!--{{info.name}}</p>-->

        <!--</div>-->

        <!--<button class="btn btn-primary" ng-show="meeting.transport == false || meeting.transport == undefined" ng-click="setTransport(meeting)">Is this location accessible by public transport?</button>-->
        <!--<p ng-show="meeting.set">Thank you! Your response has been recorded.</p>-->
    <!--</div>-->
<!--</div>-->

<div class="container">
<table class="table">
    <thead>
    <tr>
        <th>Location Name</th>
        <th>Address</th>
        <th>City State</th>
        <th>Times</th>
        <th>Meeting Name</th>
    </tr>
    </thead>
    <tbody class="bordered" ng-repeat="meeting in searchResults">
    <tr  ng-repeat="info in meeting.meetings">
        <td>{{meeting.name}}</td>
        <td>{{meeting.address}}</td>
        <td>{{meeting.city_state}}</td>

        <td>{{info.time}}</td>
        <td>{{info.name}}</td>
    </tr>
    <td><button class="btn btn-primary" ng-show="meeting.transport == false || meeting.transport == undefined" ng-click="setTransport(meeting)">Is this location accessible by public transport?</button>
        <p ng-show="meeting.set">Thank you! Your response has been recorded.</p></td>
    </tbody>
</table>
</div>


<!--<footer ng-include="'/templates/footer_admin.html'"></footer>-->